<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!--响应式布局，宽度等于设备宽度-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>实验云</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/head.css">
    <link rel="stylesheet" type="text/css" href="css/mycourse.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="js/jquery-1.10.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/artTemplate.js"></script>
    <script type="text/javascript" src="js/template-native.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/HOST.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div class="menu">
    <div class="container con_header">
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#cloud-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div style="width: 40px; height: 40px;">
                        <a class="navbar-brand" href="index.html">
                            <img src="img/logo.png" style="width: 40px; height: 40px;">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="cloud-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="hov"><a href="courseLibrary.html">课程库</a></li>
                        <li class="hov"><a href="scrachPro.html">Scratch作品展</a></li>
                        <li class="hov"><a href="scratch/ide.html">Scratch 3.0 在线编程</a></li>
                        <li class="hov"><a href="personalMain.html">个人总览</a></li>
                        <li class="active hov"><a href="myCourse.html">我的课程</a></li>
                        <li class="hov"><a href="virtualLab.html">虚拟实验室</a></li>
                        <div class="mobile-show">
                            <li><a href="personalCenter.html">个人信息</a></li>
                            <li><a href="javascript:;" onclick="logOut()">退出登录</a></li>
                        </div>
                        <li class="dropdown head-box">
                            <a href="#" class="head-pic" data-toggle="dropdown">
                                <img id="userImg" src="img/head_pic.png">
                                <span id="userName">编程云</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="personalCenter.html">个人信息</a></li>
                                <li><a href="javascript:;" onclick="logOut()">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="main">

    <!--全站统计数据-->
    <div class="container">
        <div class="row">
            <p class="main-tit col-md-2 col-xs-4" style="min-width: 160px;">全站实验课程统计</p>
        </div>

        <!--筛选统计实验种类-->
        <div>
            <div class="row">
                <p style="margin-left: 50px;width: 300px;font-size: 13px;">FPGA实验平台统计</p>
            </div>

            <!--数字-->
            <div class="row" style="display:-webkit-flex; display: flex; justify-content: space-around; margin-top: 20px;">
                <!--总计实验次数 -->
                <div style="width: 150px; height: 70px; background-color: #61c0e8; padding: 5px; border-radius:6px; box-shadow: 0 0 12px 3px #00000040;">
                    <p style="width:80%;color: #ffffff;margin: 3px auto;display:-webkit-flex;display: flex;justify-content: space-around;font-family: monospace;">全站累计实验次数</p>
                    <p id="fpag_total_exp_num" style="width:80%; color: #ffffff; margin: 4px auto; display:-webkit-flex; display: flex; justify-content: space-around; font-size: 21px; font-family: monospace; font-weight: bolder;">-</p>
                </div>

                <!--总计实验时长-->
                <div style="width: 150px; height: 70px; background-color: #68d890; padding: 5px; border-radius:6px; box-shadow: 0 0 12px 3px #00000040;">
                    <p style="width:80%;color: #ffffff;margin: 3px auto;display:-webkit-flex;display: flex;justify-content: space-around;font-family: monospace;">全站累计实验时长</p>
                    <div style="display:flex;align-items:center;">
                        <p id="fpag_total_duration" style="width:80%; color: #ffffff; margin: 4px auto; display:-webkit-flex; display: flex; justify-content: space-around; font-size: 21px; font-family: monospace; font-weight: bolder;">-</p>
                        <p style="width:15%; color: #ffffff; margin: 4px auto; display:-webkit-flex; display: flex; justify-content: space-around; font-size: 11px; font-family: monospace; font-weight: normal;">min</p>
                    </div>
                </div>

                <!--总计文件上传次数-->
                <div style="width: 150px; height: 70px; background-color: #d8ba79; padding: 5px; border-radius:6px; box-shadow: 0 0 12px 3px #00000040;">
                    <p style="width:80%;color: #ffffff;margin: 3px auto;display:-webkit-flex;display: flex;justify-content: space-around;font-family: monospace;">总计文件上传次数</p>
                    <p id="fpag_total_file_upload_num" style="width:80%; color: #ffffff; margin: 4px auto; display:-webkit-flex; display: flex; justify-content: space-around; font-size: 21px; font-family: monospace; font-weight: bolder;">-</p>
                </div>
            </div>

            <!--图表1-->
            <div class="row" style="min-width: 700px; width: 80%; height: 400px; margin: 40px auto;">
                <div id="Echarts_last_month"
                     style="min-width: 700px; width: 850px; height: 400px;
                            background-color: #ffffff;
                            -webkit-tap-highlight-color: transparent;
                            user-select: none;margin: 10px auto;">
                </div>
            </div>

            <!--图表2-->
            <div class="row" style="min-width: 700px; width: 80%; height: 400px; margin: 40px auto;">
                <div id="Echarts_last_month1"
                     style="min-width: 700px; width: 850px; height: 400px;
                            background-color: #ffffff;
                            -webkit-tap-highlight-color: transparent;
                            user-select: none;margin: 10px auto;">
                </div>
            </div>

            <!--图表3-->
            <div class="row" style="min-width: 600px; width: 80%; height: 400px; margin: 40px auto;">
                <div id="Echarts_last_week"
                     style="width: 600px;height: 400px;
                            background-color: #ffffff;
                            -webkit-tap-highlight-color: transparent;
                            user-select: none;margin: 10px auto;">
                </div>
            </div>

            <!--图表4-->
            <div class="row" style="min-width: 600px; width: 80%; height: 400px; margin: 40px auto;">
                <div id="Echarts_last_week_hourly"
                     style="width: 600px;height: 400px;
                            background-color: #ffffff;
                            -webkit-tap-highlight-color: transparent;
                            user-select: none;margin: 10px auto;">
                </div>
            </div>
        </div>

    </div>



    <!--创建课程列表-->
    <div class="container">
        <div class="row">
            <p class="main-tit col-md-2 col-xs-4">我创建的课程</p>
        </div>

        <div class="row">
            <!--<a href="courseLibrary.html">-->
                <!--<div class="col-md-3 col-xs-6 courseBox">-->
                    <!--<img src="img/add_course.png" class="courseImg">-->
                <!--</div>-->
            <!--</a>-->

            <div id="show-created-courses">
                <!--课程展示列表-->
            </div>

        </div>

        <script id="createdCourse" type="text/html">
            <% for (var i = 0; i < value.length; i ++) { %>
            <a href="#"
               data-id=<%= value[i].id %>
                data-title=<%= value[i].title %>
                data-desc=<%= value[i].desc %>
                data-classify=<%= value[i].classify %>
                data-classTime=<%= value[i].classtime %>
                data-score=<%= value[i].score %>
                data-createTime=<%= value[i].createTime %>
                data-createBy=<%= value[i].createBy %>
                data-pic=<%= value[i].pic %>
                data-view=<%= value[i].view %>
                data-focus=<%= value[i].focus %>
                onclick="courseStatisticDetail('<%= value[i].id %>','<%= value[i].title %>')">
                <div class="col-md-3 col-xs-6 courseBox">
                    <div class="courseMain">
                        <% if (value[i].pic != "") { %>
                            <img src=<%= value[i].pic %> class="courseImg">
                        <% } %>
                        <% if (value[i].pic == "") { %>
                            <img src="img/course.png" class="courseImg">
                        <% } %>
                        <div class="zhezhao">
                            <p class="courseName"><%=value[i].title%></p>
                            <p class="courseLong">
                                <span><%=value[i].classtime%>课时</span>
                                <span><%=value[i].score%>学分</span>
                            </p>
                            <div class="checkD">统计详情</div>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
        </script>

    </div>
</div>

<div class="footer">
    <div class="container">
        <ul>
            <li class="footer-tit">联系与反馈</li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">意见反馈</a></li>
        </ul>
        <ul>
            <li class="footer-tit">资源共享</li>
            <li><a href="#">学校支持</a></li>
            <li><a href="#">文章干货</a></li>
            <li><a href="#">相关下载</a></li>
        </ul>
        <ul>
            <li class="footer-tit">关注我们</li>
            <li><a href="#">微信公众号</a></li>
            <li><a href="#">QQ群</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {

        // 获取全站累计实验次数、实验时长、文件上传次数
        getFPGATotalStatistics()

        // 获取近一月 实验次数、实验时长、上传文件次数 - echarts
        getLastMonthStatistics()

        // 获取近一周 实验次数、实验时长 - echarts
        getLastWeekStatistics()

        // 获取近一周 每天 每两小时实验次数 - echarts
        getLastWeekHourlyStatistics()

        // 获取所有实验课
        // 获取我所创建的FPGA类课程
        getFPGACourseICreated()
        courseImgs()
    });

    $(window).resize(function () {
        courseImgs();
    });

    function courseStatisticDetail(id, title){
        window.location.href = "dataStatisticsOfCourse.html?courseID=" + id + "&courseTitle=" + title;
    }
</script>
</body>
</html>

